[Unit]
Description=Mopidy music server
After=avahi-daemon.service
After=dbus.service
After=network-online.target
Wants=network-online.target
After=nss-lookup.target
After=pulseaudio.service
After=remote-fs.target
After=sound.target

[Service]
User=mopidy
Environment="XDG_RUNTIME_DIR=%t" "XDG_CACHE_HOME=/home/mopidy/.cache"
ExecStartPre=-/usr/bin/ir-keytable -a /etc/rc_maps.cfg
ExecStart=/usr/local/bin/mopidy --config /etc/mopidy.conf

[Install]
WantedBy=multi-user.target
